# Data Science Nigeria: Introductory Python Training

<img src= './Images/DSN.jpg', alt = "Data Science Nigeria" width= 600, height = 300/>

# <font color=green> Week 4
* Dictionaries
* Sets
* I/O: Input and Output in Python

## Dictionaries
                                                                      
A dictionary is a collection of key-value pairs separated by colon. All keys in a dictionary must be unique. The key, value pairs are separated with commas.   

### VALUES

* Values could be any arbitrary object

### KEYS
* Keys must be immutable eg. mutable objects like list ie. ['one'] or tuple ie. ('one') are not allowed
* No duplicate key is allowed. When this happens, the last assignment overwrites the first

**Creating a Dictionary** 
                              
          
A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary

In [1]:
#create an empty dictionary
x = {}

x

{}

In [2]:
#create a three items dictionary
x = {"one":1, "two":2, "three":3}

y= {"five":5, "six":6, "seven":7}

print('Dictionary_X_content =', x)
print('Dictionary_Y_content =', y)

Dictionary_X_content = {'one': 1, 'two': 2, 'three': 3}
Dictionary_Y_content = {'five': 5, 'six': 6, 'seven': 7}

### Accessing elements of a dictionary

[] square brackets can be used to index Python dictionary

In [3]:
#This returns the value for the specified key
x['three']

3

In [4]:
#Python returns error if the key specified does not exist
x['eight']

KeyError: 'eight'

### Updating a Dictionary

In [5]:
x['eight'] = 8     # Add new entry
x["four"]=4        #Add new entry
x['bottom'] = "end" # Add new entry

In [6]:
#change a value
x["one"] = "New1"

print('New dictionary_X = ', x)

New dictionary_X =  {'one': 'New1', 'two': 2, 'three': 3, 'eight': 8, 'four': 4, 'bottom': 'end'}

## Dictionary Methods and Functions

#### Methods

In [7]:
#merge 2 dictionaries by using one to update the other
y.update({'two': 2, 'three': 3, 'one': 'New1'})
print(y)

{'five': 5, 'six': 6, 'seven': 7, 'two': 2, 'three': 3, 'one': 'New1'}

In [8]:
#To get the list of dict's (key, value) tuple pairs
y.items()

dict_items([('five', 5), ('six', 6), ('seven', 7), ('two', 2), ('three', 3), ('one', 'New1')])

In [9]:
#get a list of all the keys
print(y.keys())

dict_keys(['five', 'six', 'seven', 'two', 'three', 'one'])

In [10]:
#get a list of all the values
y.values()

dict_values([5, 6, 7, 2, 3, 'New1'])

In [11]:
#get the value for a given key. If key is not available,return value = None.
print(y.get('one'))

New1

In [12]:
#make a copy of a dictionary
z = x.copy()
w = z.copy()
print('z = ',z, '\n','w = ', w)

z =  {'one': 'New1', 'two': 2, 'three': 3, 'eight': 8, 'four': 4, 'bottom': 'end'}
 w =  {'one': 'New1', 'two': 2, 'three': 3, 'eight': 8, 'four': 4, 'bottom': 'end'}

In [13]:
# remove all entries in dict
w.clear()

w

{}

In [14]:
countries = {'Nigeria':['Abia', 'Umuahia']}
countries

{'Nigeria': ['Abia', 'Umuahia']}

### Looping Techniques

When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the .items() method.

In [15]:
print(x)

{'one': 'New1', 'two': 2, 'three': 3, 'eight': 8, 'four': 4, 'bottom': 'end'}

In [16]:
for k, v in x:
    print(k,v)

ValueError: too many values to unpack (expected 2)

In [17]:
x.keys()

dict_keys(['one', 'two', 'three', 'eight', 'four', 'bottom'])

#### Dictionary Functions

In [18]:
#To compare 2 dictionary, cmp() function is not available in python 3, we can use

x == z

True

In [19]:
#delete entry with key 'one'
del (z["one"])
z

{'bottom': 'end', 'eight': 8, 'four': 4, 'three': 3, 'two': 2}

In [20]:
#delete the entire dictionary
del z
z #already deleted so it can not be located

NameError: name 'z' is not defined

In [21]:
#number of items in a dictionary
len(x)

6

In [22]:
#using the if statement to get the values
if "one" in x:
    print ('value assigned to key "one" in X = ',x['one'])

if "two" not in x:
    print ("Two not found")

if "three" in x:
    del x['three']
    print ('X after deleting key "three" and its value', x)

value assigned to key "one" in X =  New1
X after deleting key "three" and its value {'one': 'New1', 'two': 2, 'eight': 8, 'four': 4, 'bottom': 'end'}

## Sets
 A set is an unordered collection of distinct objects.
 
* Sets are unordered.
* Set elements are unique
* A set itself may be mutable, but the elements of a set must be an immutable type

Just like we have it in mathematical concept, Set objects also support operations like union, intersection, difference, and symmetric difference.
 
**Creating a Set**

Curly braces {} or the set() function to create an empty set

In [23]:
#using the set function
a = set('this string will be expanded')
print(a)

{'n', 'a', 'h', ' ', 'l', 'i', 's', 'g', 'e', 'r', 'p', 'w', 't', 'd', 'b', 'x'}

In [24]:
#using the set curly braces
b = {42, 'one', (1, 2, 3), 3.14159}
b

{(1, 2, 3), 3.14159, 42, 'one'}

In [25]:
#using the set curly braces
int_Set = {1,3,5,7,9}

print(int_Set)

{1, 3, 5, 7, 9}

In [26]:
Fruit_set = {'mango','apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(Fruit_set)                      # show that duplicates have been removed

{'banana', 'mango', 'apple', 'pear', 'orange'}

In [27]:
Food_set = set(('rice', 'apple', 'orange', 'chicken', 'pear', 'orange', 'banana'))
                
print(Food_set)                      # show that duplicates have been removed

{'banana', 'orange', 'chicken', 'apple', 'pear', 'rice'}

## Testing For elements of a set

In [28]:
print('coconut' not in Fruit_set)

print('banana' in Fruit_set)

print('rice' in Fruit_set)

print('bread' not in Fruit_set)

True
True
False
True

## Set Operations
Union, intersection, difference, and symmetric difference.

#### Union

set union can be performed with the | operator or .union() method

In [29]:
# elements in Food_set or  Fruit_set or both
print(Food_set | Fruit_set)              

#or 

print(Food_set.union(Fruit_set))

{'banana', 'mango', 'chicken', 'rice', 'apple', 'pear', 'orange'}
{'banana', 'mango', 'chicken', 'rice', 'apple', 'pear', 'orange'}

In [30]:
#elements in Food_set **and** Fruit_set
print(Food_set & Fruit_set) 

print(Food_set.intersection(Fruit_set))

{'banana', 'apple', 'pear', 'orange'}
{'banana', 'apple', 'pear', 'orange'}

In [31]:
#difference of elements in Food_set **and** Fruit_set
#elements in Food_set but not in Fruit_set

print(Food_set - Fruit_set) 

print(Food_set.difference(Fruit_set))

{'chicken', 'rice'}
{'chicken', 'rice'}

In [32]:
#Check if two sets have any elements in common
Food_set.isdisjoint(Fruit_set)   #RETURNS TRUE WHEN THERES NO COMMON ELEMENT

False

In [33]:
##Determines whether one set is a subset of the other
Food_set.issubset(Fruit_set)   #Return first set is present in the second

False

#### Modifying a set

In [34]:
#using update method
print(Food_set.update(Fruit_set))

None

In [35]:
#Determines whether one set is a proper subset of the other
Food_set <= (Fruit_set)

False

## set comprehensions

Set comprehensions are also supported. provide a concise way to create lists. Common applications are:
* to make new ldictionary
* to create a subsequence of those elements that satisfy a certain condition.

In [36]:
Diff_set = {x for x in Food_set if x not in Fruit_set}
print(Diff_set)

{'chicken', 'rice'}

In [37]:
 a = {x for x in 'abracadabra' if x in 'abc'}
print(a)

{'a', 'b', 'c'}

## I/O: Input and Output in Python

The syntax to retrieve python output is 

>print(something) 

> Note that, the **something** could be 

* String eg. "This is an output"
* Integer eg. 1, 3, 200, 100000
* Float eg. 3.243, 5.678, 4.5e+6
* Variable of a location that stores value eg. A, Result etc

We use the print() function to output data to the standard output device (screen).

In [48]:
#To print an interger value
print(1000)

#To print a float value
print(15478e-4)


#To print many output at a time, separate them using comma
print(1,2,3,4)


# To print "This sentence is output to the screen
print('This sentence is output to the screen')


a = 5
# To print the value stored in location named a
print(a)

# To make the output more interactive,a string about the output could be added
# The value of a is 5
print('The value of a is', a)

1000
1.5478
1 2 3 4
This sentence is output to the screen
5
The value of a is 5

In [39]:
#Adding separators inbetween output

print(1,2,3,4,sep='*')

1*2*3*4

In [40]:
#Adding an indicator to the nend of the list
print(1,2,3,4,end='&')

1 2 3 4&

## Output formatting

Sometimes we would like to format our output to make it look attractive. This can be done by using the str.format() method.

In [41]:
x = 5; y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [42]:
print('I love {0} and {1}'.format('bread','butter'))
# Output: I love bread and butter

print('I love {1} and {0}'.format('bread','butter'))
# Output: I love butter and bread

I love bread and butter
I love butter and bread