# Data Science Nigeria: Introductory Python Training

<img src= './Images/Capture.jpg', width= 1000, height = 60000>
# Course Outline

In [1]:
from IPython.display import IFrame
IFrame ("./Course Outline.pdf", width = 800, height = 400)

# <font color=green> Week 1:Introduction
 * Brief Introduction: Aims, Objectives and Deliverables
 * Python Setup
 * Python Basics: Variables, Operators, Strings, Input

## Brief Introduction:
* Why Programming? 

**Programming improves persepective to problem solving**
> Note that, It is difficult for people to conceptualize structures they can’t describe, verbally or in writing 

* Types of Programming Language
    1. High Level Language: Basic, Python, Java, C# etc
    2. Low Level Language


* Why Python?

**Python is a general-purpose, beginner friendly language, which can be used to build virtually anything. It can be used for web development, desktop app development, gaming, data analysis, Artificial intellingence, scientific computing etc. Increasing  community of python users is another reason for choosing PYTHON**

Remember,

>The larger a community, the more likely you'd get help and the more people will be building useful tools to ease the process of development.


* Python Setup

For this training, we will be using one of the most popular framework used for data science and machine learning known as **Anaconda**. You can download the correct version of anaconda <a href="https://www.anaconda.com/distribution/">here </a>as it relates to your op erating system – Windows, Mac or Linux.

<img src= './Images/Capture.jpg', width= 1000, height = 60000>

# Python Basics

## OPERANDS, OPERATORS and EXPRESSIONS

**OPERATORS: ** These are signs and symbols used to manipulate values of operands for computation e.g. %, +, -, /, *

**OPERANDS: ** These are the values that the operator operates on e.g. 2, 3, A, B, C, 100 

**EXPRESSION: ** This can be described as meaningful combination of operators and operands e.g. A + (B * C) / D

**Types of Operator**

* Arithmetic Operators : for arithmetic operations like addition, subtraction, division, multiplication etc
   * + , - , /, % , // , *
   
   Arithmetic Operations: 
   * A + B
   * 50 + 2
   * B * C
   
* Comparison (Relational) Operators: for comparism beetween too or more values  
   * ==, != , > , < , >= , <=
   
   Relational Operations: The output of relational operation is either True or False
   * A == B
   * 5 > 8
   
* Assignment Operators: This is used to assign the result of an expression to a new variable name
   * =, +=, -+, *=, %=, /=
   
   Assignment Operations:
   
   * Result = 2 + 4
   * Ans = A + (B * C) / D
   
* Logical Operators : Compares the result of two or more relational operations

   * AND, OR, not

    Logical operations:
    
    * A and B
    * not A
    * A 0r B
    
* Bitwise Operators : They are used to perform binary operations 
   * & (and), | (or), ^ (Xor), ~ (complement/negation), << >> (Binary shift left and right)
   
   Bitwise Operations:
   
   * 3 & 2
   * 3 | 2
   * ~3
   * 3 ^ 2
   * 3 >> 2

**Arithmetic operations**

In [2]:
6 + 4

10

In [3]:
6 - 4

2

In [4]:
6 / 4

1.5

In [5]:
6 // 4

1

In [6]:
6 * 4

24

In [7]:
6 ** 4

1296

In [8]:
6 % 4

2

**Relational Operations**

In [9]:
 6 == 4

False

In [10]:
6 != 4

True

In [11]:
6 > 4

True

In [12]:
6 < 4

False

In [13]:
6 >= 4

True

In [14]:
6 <= 4

False

**Assignment Operations**

In [15]:
Result = 2 + 4

Result

6

Here, the result of expression **2 + 4** is assigned to an new variable called **Result**
Having created a memeory space named Result,We can -->

* add to its content with +=
* subtract from its content with -=
* multiply its content with *=
* Divide its content with /=

In [16]:
Result += 50

Result

56

In [17]:
Result -= 3

Result

53

In [18]:
Result /= 5

Result

10.6

In [19]:
Result *= 2

Result

21.2

**Logical Operations**

In [20]:
 6 == 4 and 6 != 4

False

In [21]:
 6 == 4 or 6 != 4

True

**Bitwise Operations**

**AND**

In [22]:
3 & 2

2

   3: 011   

   2: 010
   
&ensp; <b> ---- </b>
    
   2: 010   &ensp; Answer

**OR**

In [23]:
3 | 2

3

 3: 011   

 2: 010
   
&ensp; <b> ---- </b>
    
 3: 011   &ensp; Answer

**NOT**

In [26]:
~7

-8

This is the 1's  compliement of the original value and in Python, it is equal to 

-(A + 1)

where A represents the original value

**XOR**

In [27]:
3 ^ 2

1


This is TRUE only when the binary digits are in different states i.e. 1 ^ 0 gives 1; &ensp; 0 ^ 1 gives 1; &ensp;1 ^ 1 gives 0;  &ensp; 0 ^ 0 gives 0
   
   3: 011   

   2: 010
   
&ensp; <b> ---- </b>
    
   1: 001  &ensp; Answer

**Shift**

In [28]:
3 >> 1

1

In [29]:
3 << 1

6

In [30]:
3>>2

0

This shifts the bit by number of places specified on the right side of the shift ( >> or << ) symbol by adding zeros (Os) either from the left or right

<img src= './Images/shift.jpg', width= 600, height = 300>

## What if we have no idea of the exact numbers to  be added, subtracted, multiplied or divided?

## What if we need computer to remember the last number we supplied?

Then, we need boxes (memory locations) to recieve our unknown numbers, and at execution time, fetch the numbers to perform the required arithmetic task. The name given to the memory location is called **Variable**

<table>
<tr>
<td><img src='./Images/var.jpg' width= 400, height = 200></td><td><img src='./Images/box.jpg' width= 400, height = 200></td> <td><img src='./Images/box2.jpg' width= 400, height = 200></td>
</tr>
<tr>
    <td></td>
    <td> <center> X <br> Y </td> 
    <td> <center> X = 42 <br> Y = 78 </td>
</tr>   
</table>

In [31]:
i = 42
print(i)

42

In [32]:
A = 50
print (A)

50

To know the location (in the computer memory) pointed to by each variable, an **id** function can be used

In [33]:
print(id(i))
print(id(A))

1774154496
1774154752

_NOTE: The memory location named **i** is dynamic and could be made to store something differnt from 42, say 100_

In [34]:
i = 100
print(i)

100

In [35]:
print(id(i))

1774156352

In [36]:
i = A

print(i)

50

**_Therefore,_**

> A **variable** is an identifier that reference a memory location whose value can be changed during the execution of a program

In [37]:
print(id(i))
print(id(A))

1774154752
1774154752

###### NOTE: There the rules for naming valid variables

# PYTHON DATA TYPES

The basic data types in Python are:
* Integers
* Floating-Point Numbers
* Complex Numbers
* Strings
* Boolean Type

>Data Type Conversion can be done easily with python

**Integer**

In [38]:
print(10, 1000, 3000)
print (A)

10 1000 3000
50

**Floating Point**

In [39]:
B = A/3
print(B)

print(4.2e-3)
print(.4e7)

16.666666666666668
0.0042
4000000.0

**Complex Number**

In [40]:
C1= 3+5j
C2 = 1+8j
C = C1 +C2
print(C)

(4+13j)

**String**
A string is defined as sequence of character enlosed in a quote.

In [41]:
D= 'Hello World'
s= "This is also a string"
print(D)

Hello World

_Note: If a string itself contains a quote, for instance, '**I'm a boy**', delimit the string with a diffrerent quote_

In [42]:
S = 'It sound"s great!'
print (S)
print(s)

It sound"s great!
This is also a string

**Triple-Quoted String**

In [43]:
MS = """This is a
string that spans
across several lines
It is called, Triple-Quoted String"""

print(MS)

This is a
string that spans
across several lines
It is called, Triple-Quoted String

<b>String Escape Sequences</b>
These combine different characters with backslash(\) to perform some task. The most commenly used ones are : 

* \n: New line
* \\: Backslash (\)
* \': Single quote (')
* \": Double quote (")
* \r: Carriage Return (CR)
* \t: Horizontal Tab (TAB)

In [44]:
s1 = "This is a \n string that spans \n across several lines \n using NEW LINE escape sequence"
s2 = "I need this string\\ to reflect a backslash"
s3 = 'This is a string\' with a single quote'
s4 = 'This is a string\" with a double quote'
s5 = 'This is a string\t with horizontal tab'

print (s1)
print (s2)
print (s3)
print (s4)
print(s5)

This is a
 string that spans
 across several lines
 using NEW LINE escape sequence
I need this string\ to reflect a backslash
This is a string' with a single quote
This is a string" with a double quote
This is a string	 with horizontal tab

<b>String Indexing</b>

Since Strings are array of characters, string elements (characters) are accessible with the use of indices. 

The first element of a string has index 0
<img src='./Images/string.jpg' width= 400, height = 200>

<b>String Slicing</b>

Accessing characters of a string through indexing

> NOTE: Indexing starts at 0, Therefore, upperbound is always excluded

In [45]:
print(D[0], D[-1])

p = D[6:11]
print(p)

H d
World

**String Concatenation**

This is the process of joining two (2) or more strings together

In [46]:
S_Concat = D + p
print (S_Concat)

Hello WorldWorld

In [47]:
len(D)

11

**String Methods**
Python has a set of built-in methods that you can use on strings. These methods return new values without changing the original string.

| Method | Description
| --- | --- | 
|capitalize()	|Converts the first character to upper case
|casefold()	| Converts string into lower case
|center()	| Returns a centered string
|count()	| Returns the number of times a specified value occurs in a string
|encode()	| Returns an encoded version of the string
|endswith()	| Returns true if the string ends with the specified value
|expandtabs()	| Sets the tab size of the string
|find()	| Searches the string for a specified value and returns the position of where it was found
|format()	| Formats specified values in a string
|format_map()	| Formats specified values in a string
|index()	| Searches the string for a specified value and returns the position of where it was found
|isalnum()	| Returns True if all characters in the string are alphanumeric
|isalpha()	| Returns True if all characters in the string are in the alphabet
|isdecimal()	| Returns True if all characters in the string are decimals
|isdigit()	| Returns True if all characters in the string are digits
|isidentifier()	| Returns True if the string is an identifier
|islower()	| Returns True if all characters in the string are lower case
|isnumeric()	| Returns True if all characters in the string are numeric
|isprintable()	| Returns True if all characters in the string are printable
|isspace()	| Returns True if all characters in the string are whitespaces
|istitle()	| Returns True if the string follows the rules of a title
|isupper()	| Returns True if all characters in the string are upper case
|join()	 | Joins the elements of an iterable to the end of the string
|ljust()	| Returns a left justified version of the string
|lower()	| Converts a string into lower case
|lstrip()	| Returns a left trim version of the string
|maketrans()	| Returns a translation table to be used in translations
|partition()	| Returns a tuple where the string is parted into three parts
|replace()	| Returns a string where a specified value is replaced with a specified value
|rfind()	| Searches the string for a specified value and returns the last position of where it was found
|rindex()	| Searches the string for a specified value and returns the last position of where it was found
|rjust()	| Returns a right justified version of the string
|rpartition()	| Returns a tuple where the string is parted into three parts
|rsplit()	| Splits the string at the specified separator, and returns a list
|rstrip()	| Returns a right trim version of the string
|split()	| Splits the string at the specified separator, and returns a list
|splitlines()	| Splits the string at line breaks and returns a list
|startswith()	| Returns true if the string starts with the specified value
|strip()	| Returns a trimmed version of the string
|swapcase()	| Swaps cases, lower case becomes upper case and vice versa
|title()	| Converts the first character of each word to upper case
|translate()	| Returns a translated string
|upper()	| Converts a string into upper case
|zfill()	| Fills the string with a specified number of 0 values at the beginning

# Assignment 1

With at least 2 examples in each case, implement 10 string methods

**Boolean**

In [48]:
t = True
f = False
print(t)
print (f)

True
False

In [49]:
a= 'DSN'
b = 'Nigeria'
c= a == b
print(c)

False

>To determine the data type of an object, we can use

>**type(_objectname_)**

In [50]:
print(type(A))
print(type(B))
print(type(MS))
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>

# INPUT STATEMENT IN PYTHON

**input():** This is an instruction used to accept users response /input for processing

In [51]:
input()

''

<img src='./Images/input.jpg' width= 1000, height = 1000>

input supplied at the above prompt will be displayed immeddiately a **return** key is pressed


>**NOTE:** Users' input can also be stored in a memeory location reference by a variable name. For instance, 

>Age = input()

In [52]:
Age = input()

Input supplied at the above prompt will be displayed as output only when the memeory location is accessed through the variable name. For example,

>print(Age)   

or

>Age

In [53]:
Age

''

To make the process more interactive at the blinking prompt, a string indicating the expected response from the user could be added to the input statement

In [54]:
Age = input('Welcome User, How old are you?')

Welcome User, How old are you?23

In [55]:
Age

'23'

# SOLUTION TO ASSIGNMENT I

In [56]:
string1 = 'This Is The First String'
string2 = 'This Is The Second String'

In [57]:
#Fills the string with a specified number of 0 values at the beginning to make up a desired length
string1.zfill(30)

'000000This Is The First String'

In [58]:
#Convert string into lower case
string1.casefold()

string1.lower()

'this is the first string'

In [59]:
#Convert string into upper case

string1.upper()

'THIS IS THE FIRST STRING'

In [60]:
#Convert first character of the string into upper case

string1.capitalize()

'This is the first string'

In [61]:
#Returns true or false, if strings ends with the specified substring within the specified range

string2.endswith('String')
#Returns True



string1.endswith('Is', 5, 7)
# Returns True

string2.endswith('Second', 12, 20)
# returns False

False

In [62]:
#Searches the string for a specified value and returns the position of where it was found
#If not found, .find returns -1 while .index retuns error
string2.find('s')
string2.index('s')

3

In [63]:
string2.find('y', 0, 3)

-1

In [64]:
string2.index('y', 0, 3)

ValueError: substring not found

In [65]:
#Joins the first string iteratively to each elements of an iterable (second string) to the end of the string
string1.join(string2)

'TThis Is The First StringhThis Is The First StringiThis Is The First StringsThis Is The First String This Is The First StringIThis Is The First StringsThis Is The First String This Is The First StringTThis Is The First StringhThis Is The First StringeThis Is The First String This Is The First StringSThis Is The First StringeThis Is The First StringcThis Is The First StringoThis Is The First StringnThis Is The First StringdThis Is The First String This Is The First StringSThis Is The First StringtThis Is The First StringrThis Is The First StringiThis Is The First StringnThis Is The First Stringg'

In [66]:
#Count the occourence of a specified character in a string
string1.count('o')

0

In [67]:
#Returns a tuple where the string is parted into three parts at the specified right-most character
string1.rpartition('i')

('This Is The First Str', 'i', 'ng')

In [68]:
#Returns a tuple where the string is parted into three parts
string1.partition('i')

('Th', 'i', 's Is The First String')

In [69]:
#Returns a trim version of the string by default, whitespaces unless a character is specified
string2.strip()

'This Is The Second String'