### Welcome Back

Quick refresher 
By now, your are expected to be conversant with how to :
- print hello world 
- create a variable named my_name and assign the your name to it
- Get the length of the user's name using the function len()
- Convert your name to all lower case using my_name.lower()
- convert your name to all upper case
- Write a program to check a user's age; if age is less than 20, print you're lucky to be here, if age is between 20 and 25, print make good use of this opportunity, if age is above 25, print You are welcome, here?

You can try implementing the following to hone your skill
- Write a programme to comment on how interesting a football match was;
 - If no goals were scored, Python should say “the game was a bore draw!”
 - 1-2 goals: “Not the most interesting game"
 - 3-5 goals: “It was a very interesting game”
 - 6+ goals: “The football match was an unmissable game!”

- Write a program to calculate the square of a number if the number is greater than zero
- Reproduce this calculator output:
 - Welcome to our calculator
 - Enter the first number: 
 - Enter the second number: 
 - Choose one of the following operations:
 - 1 - addition
 - 2 - subtraction
 - 3 - multiplication
 - 4 - division
 - result: 
 - Thank you for using our calculator.

In [0]:
'''
Write a programme to comment on how interesting a football match was;
If no goals were scored, Python should say “the game was a bore draw!”
1-2 goals: “Not the most interesting game"
3-5 goals: “It was a very interesting game”
6+ goals: “The football match was an unmissable game!”
'''
goals_scored = input('How many goals were scored in the last match? ')
goals_scored = int(goals_scored)                  # To convert user input to an integer
if goals_scored < 0:                         # To check for invalid age input
    print('You have entered an invalid scores')
elif goals_scored  == 0:
    print('The game was a bore draw')
elif goals_scored <=2:
    print('Not the most interesting game')
elif goals_scored <=5:
    print('It was a very interesting game')
else:                                    # This condition considers every other age bracket not included
    print('The football match was an unmissable game!')

How many goals were scored in the last match? 3
It was a very interesting game

## Class activity
Using a for loop, find the average of the following numbers:
- 1, 2, 3, 4, 5, 6, 7, 7

In [0]:
# Solution 1
add=0
add=int(add)
values = [1, 2,3,4,5,6,7,7]
for i in values:
    i = int(i)
    add = add + i
ln =len(values)
average = add/ln
print(average)

4.375

In [0]:
# Solution 2
numbers = [1, 2, 3, 4, 5, 6, 7, 7]
numbers_sum, length_of_list = 0, 0
for i in numbers:
    numbers_sum = numbers_sum + i
    length_of_list = length_of_list + 1
average = numbers_sum / length_of_list
print(average)

4.375

In [0]:
# Solution 3 - without for loop
a = list((1, 2,3,4,5,6,7,7))
average = (sum(a)/len(a))
print(average)

4.375

In [0]:
# Short code to countdown from 10 to 1 using a while loop
a = 10
while a > 0:
    print(a)
    a = a - 1

10
9
8
7
6
5
4
3
2
1

In [0]:
'''Another example utilizing while loops
This program starts printing from i's current value (1), 
and continues printing until it reaches 3 where it stops
'''
i = 0
while i < 6:
    print(i)
    if i == 3:
        break
    i = i + 1

0
1
2
3

In [0]:
'''
Yet another while example
This program prints after an increment of 1, skips the print statement at i=3
and continues at the next number (4) till the while condition is met
'''
i = 0
while i< 10:
    i = i + 1
    if i == 3:
        continue
    print(i, end = ',')

1,2,4,5,6,7,8,9,10,

In [0]:
'''
Another while loop
This program shows multiples of 5
'''
a = 5
b = 1
while b <= 12:
    print('%d * %d = %d' %(a, b, a*b))
    b = b + 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

### Ranges : a range() is used to create a list of numbers to manipulate iteration
Syntax : range(start, stop, step) or range(length_of_number)

Write a program that prints all the numbers from 0 to 10 skipping every second digits

In [14]:
for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

# 
### SAP Second Class 10th April, 2020
# ..................................................................................

### Ranges : a range() is used to create a list of numbers to manipulate iteration
 - Syntax : range(start, stop, step) or range(length_of_number)



More data types/Structure and their attributes
- List
 - Ordered
 - Changeable
 - Indexed
 - Can have duplicate members
 - my_list = [3, 4, 2, 6, 5, 3, 3, 9]
 - my_list2 = list((4, 4, 2, 5, 7))
- Tuple : Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
 - Ordered
 - Unchangeable
 - Indexed
 - Can also have duplicate members
 - fruits = ('Mango', 'Grape', 'Pear')
 - fruits2 = tuple(('Coconut', 'Cashew', 'Cucumber'))
- Set : Set is a collection which is unordered and unindexed. No duplicate members.
 - Unordered
 - Unindexed
 - No duplicate members
 - Cars = {'Mercedes', 'Toyota', 'Honda'}
 - Cars2 = set(('Kia', 'Ford', 'Fiat'))
- Dictionaries : Dictionary is a collection items which are unordered, changeable and indexed. No duplicate members. Dictionary has a key: value pair
 - Unordered
 - Changeable
 - Indexed
 - Has keys and values
 - my_car = {"brand": "Honda", "model": "EOD", "year": 2010}

In [0]:
#List
my_list = ['pot', 'kettle', 'spoon', 'plate']
my_list2 = list(('pot', 'kettle', 'spoon', 'plate'))

#Tuple
fruits = ('mango', 'apple', 'orange')
fruits2 = tuple(('mango', 'apple', 'orange'))

#Set
cars = {'mercedes', 'toyota', 'ford'}
cars2 = set('mercedes')

#Dictionary
my_dict = {'name': 'John', 1: [2, 4, 3]} # dictionary with mixed keys
thisdict = {"brand": "Toyota", "model": "Avalon", "year": 2017}

### List Operations

In [0]:
A = [2, 'Clement', 6, 'Ope', 8, 'Ayo']

#Accessing the 3rd and 4th elements of list using their index.
print ('3rd and 4th elements using positive index', A[2:4],  '\n')

#Negative indices can also bde specified
print ( '3rd and 4th elements using negative index', A[-3:-1]) #this produces a list


#list concatenation
print(A + ['Ayo', 'Peace', 14])



print('Ope'in A)

print('Abebe' not in A)

print(2.45 in A)

print ('y' in A)

### As we have in string methods, a list  data type can be also be used with the list methods some of which are:

In [0]:
#METHODS

my_list = ['pot', 'kettle', 'spoon', 'plate']

# append: to add a new item to the end of the list
my_list.append('knife')
print(my_list)

# extend: Add the elements of a list, to the end of the current list. 
# Unlike .append(), .extend() will unpack the  new list and add its element each to the existing one 
my_list.extend(['fork', 'flask', 'file'])
print(my_list)

# copy: Returns a copy of the list
my_list3 = my_list.copy()
print(my_list, my_list3)

# count: Returns the number of elements with the specified value
knife_count = my_list.count('knife')
print(my_list, knife_count)

# index: Returns the index of the first element with the specified value
x = my_list.index('kettle')
print(my_list, x)

# insert: Adds an element at the specified position
my_list.insert(3, 'Yam')
print(my_list)

# pop: Removes the element at the specified position or the last item if no position is given
my_list.pop(3)
print(my_list)

# remove: Removes the first item with the specified value
my_list.remove('fork')
print(my_list)

# reverse: Reverses the order of the list
my_list.reverse()
print(my_list)

# sort: Sorts the list
my_list.sort()
print(my_list)

# clear: to remove all the elements from the list
my_list.clear()
print(my_list)

'cutlass'

### List Comprehensions
List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [15]:
#To create a list of sum of squares

sum = []
for x in range(5):
    sum.append(x**2)
print('output using for', sum)

#The same could be written as a lis95t comprehension
sum = [x**2 for x in range(5)]
print ('output using list comprehension', sum)

output using for [0, 1, 4, 9, 16]
output using list comprehension [0, 1, 4, 9, 16]

In [16]:
#Using for statement to print a number and its square as coordinates

result= []
for x in range(6):
    result.append((x,x**2))
print('output using for', result)

#With list comprehension

print('output using list comprehension', [(x, x**2) for x in range(6)])

output using for [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]
output using list comprehension [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### A list of methods that can be used with the tuple data type

In [0]:
fruits = ('mango', 'apple', 'orange', 'grape', 'pear')

# count: Returns the number of times a specified value occurs in a tuple
x = fruits.count('apple')
print(fruits, x)

# index: Searches the tuple for a specified value and returns the position of where it was found
y = fruits.index('orange')
print(fruits, y)

### A list of methods that can be used with the set data type

In [0]:
cars = {'mercedes', 'toyota', 'ford', 'Porsche'}
cars2 = {'mercedes', 'Nissan', 'Jaguar'}
# add: Adds an element to the set
cars.add('Hyundai')
print(cars)

# copy: Returns a copy of the set
cars_copy = cars.copy()
print(cars, cars_copy)

# difference: Returns a set containing the difference between two or more sets
car_diff = cars.difference(cars2)
print(cars, cars2, car_diff)

# difference_update: Removes the items in this set that are also included in another, specified set
cars.difference_update(cars2)
print(cars, cars2)

# discard: Remove the specified item
cars2.discard('Nissan')
print(cars2)

# intersection: Returns a set, that is the intersection of two other sets
cars_intersect = cars.intersection(cars2)
print(cars, cars2, cars_intersect)

# intersection_update: Removes the items in this set that are not present in other, specified set(s)
cars_copy.intersection_update(cars2)
print(cars_copy, cars2)

# isdisjoint: Returns whether two sets have a intersection or not
disj = cars.isdisjoint(cars2)
print(cars, cars2, disj)

# issubset: Returns whether another set contains this set or not
x = {'a', 'b', 'c'}
y = {'a', 'b', 'c', 'd', 'e', 'f'}
z = x.issubset(y)
print(x, y, z)

# issuperset: Returns whether this set contains another set or not
z = y.issuperset(x)
print(x, y, z)

# pop: Removes an element from the set
y.pop()
print(y)

# remove: Removes the specified element
y.remove('c')
print(y)

# symmetric_difference: Returns a set with the symmetric differences of two sets
sym_diff = cars.symmetric_difference(cars2)
print(cars, cars2, sym_diff)

# symmetric_difference_update: inserts the symmetric differences from this set and another
cars.symmetric_difference_update(cars2)
print(cars)

# union: Return a set containing the union of sets
bigcars = cars.union(cars2)
print(cars, cars2, bigcars)

# update: Update the set with the union of this set and others
cars.update(cars2)
print(cars, cars2)

# clear: Removes all the elements from the set
cars.clear()
print(cars)

{'ford', 'mercedes', 'toyota', 'Hyundai', 'Porsche'}
{'ford', 'mercedes', 'toyota', 'Hyundai', 'Porsche'} {'ford', 'mercedes', 'Porsche', 'toyota', 'Hyundai'}
{'ford', 'mercedes', 'toyota', 'Hyundai', 'Porsche'} {'mercedes', 'Jaguar', 'Nissan'} {'Porsche', 'ford', 'toyota', 'Hyundai'}
{'ford', 'toyota', 'Hyundai', 'Porsche'} {'mercedes', 'Jaguar', 'Nissan'}
{'mercedes', 'Jaguar'}
{'ford', 'toyota', 'Hyundai', 'Porsche'} {'mercedes', 'Jaguar'} set()
{'mercedes'} {'mercedes', 'Jaguar'}
{'ford', 'toyota', 'Hyundai', 'Porsche'} {'mercedes', 'Jaguar'} True
{'b', 'c', 'a'} {'d', 'f', 'c', 'e', 'b', 'a'} True
{'b', 'c', 'a'} {'d', 'f', 'c', 'e', 'b', 'a'} True
{'f', 'c', 'e', 'b', 'a'}
{'f', 'e', 'b', 'a'}
{'ford', 'toyota', 'Hyundai', 'Porsche'} {'mercedes', 'Jaguar'} {'ford', 'mercedes', 'Jaguar', 'toyota', 'Hyundai', 'Porsche'}
{'ford', 'mercedes', 'Jaguar', 'toyota', 'Hyundai', 'Porsche'}
{'ford', 'mercedes', 'Jaguar', 'toyota', 'Hyundai', 'Porsche'} {'mercedes', 'Jaguar'} {'ford', 'mercedes', 'Jaguar', 'Porsche', 'toyota', 'Hyundai'}
{'ford', 'mercedes', 'Jaguar', 'toyota', 'Hyundai', 'Porsche'} {'mercedes', 'Jaguar'}
set()

### A list of methods that can be used with the dictionary data type

In [9]:
thisdict = {"brand": "Toyota", "model": "Avalon", "year": 2017}

# fromkeys: returns a dictionary with the specified keys and values
x = ('key1', 'key2', 'key3')
y = (0)       #All the keys will have the same value 0
new_dict = dict.fromkeys(x, y)
print(new_dict)

# get: Returns the value of the specified key, if value is not fount, it returns NONE
a = thisdict.get('model')

# same output can be gotten from but if value is not found, it returns error
b = thisdict['model']
print(thisdict, a, b)

{'key1': 0, 'key2': 0, 'key3': 0}
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017} Avalon Avalon
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017} {'brand': 'Toyota', 'model': 'Avalon', 'year': 2017}
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017} dict_items([('brand', 'Toyota'), ('model', 'Avalon'), ('year', 2017)])
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017} dict_keys(['brand', 'model', 'year'])
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017} dict_values(['Toyota', 'Avalon', 2017])
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017}
{'brand': 'Toyota', 'year': 2017}
{'brand': 'Toyota'} ('year', 2017)
{'brand': 'Toyota', 'model': 'Camry'} Camry
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017, 'color': 'white'}
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017, 'color': 'white'} dict_values(['Toyota', 'Avalon', 2017, 'white'])
{}

In [12]:
# copy: Returns a copy of the dictionary
new_dict = thisdict.copy()
print(thisdict, new_dict)

# items: Returns a list containing a tuple for each key value pair
a = thisdict.items()
print('Dictionary', thisdict, 'items are : ', a)

# keys: Returns a list containing the dictionary's keys
a = thisdict.keys()
print(thisdict, a)

a = thisdict.values()
print(thisdict, a)

# pop: Removes the element with the specified key
print(new_dict)
new_dict.pop('model')
print(new_dict)

# popitem: Removes the last inserted key-value pair
c = new_dict.popitem()
print(new_dict, c)

# setdefault: Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
x = new_dict.setdefault('model', 'Camry')
print(new_dict, x)

# update: Updates the dictionary with the specified key-value pairs
thisdict.update({'color': 'white'})
print(thisdict)

# values: Returns a list of all the values in the dictionary
x = thisdict.values()
print(thisdict, x)

# clear: to remove all the elements from the dictionary
new_dict.clear()
print(new_dict)

{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017, 'color': 'white'} {'brand': 'Toyota', 'model': 'Avalon', 'year': 2017, 'color': 'white'}
Dictionary {'brand': 'Toyota', 'model': 'Avalon', 'year': 2017, 'color': 'white'} items are :  dict_values(['Toyota', 'Avalon', 2017, 'white'])
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017, 'color': 'white'} dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017, 'color': 'white'} dict_values(['Toyota', 'Avalon', 2017, 'white'])
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017, 'color': 'white'}
{'brand': 'Toyota', 'year': 2017, 'color': 'white'}
{'brand': 'Toyota', 'year': 2017} ('color', 'white')
{'brand': 'Toyota', 'year': 2017, 'model': 'Camry'} Camry
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017, 'color': 'white'}
{'brand': 'Toyota', 'model': 'Avalon', 'year': 2017, 'color': 'white'} dict_values(['Toyota', 'Avalon', 2017, 'white'])
{}

In [0]:
a = list((1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

In [0]:
for vj in a:
    print(vj%2 == 1)

True
False
True
False
True
False
True
False
True
False

In [0]:
for vj in a:
    if vj%2 == 1:
        print(vj)

1
3
5
7
9